*,:before,*:after{
  -moz-box-sizing: border-box; -wibkit-box-sizing;
}
.track{
  width: 100%;/* 600/800 */
  background-color:purple;
  padding: 0 2;
  
}
body{
  width:60%;
  padding:0 2; 
  margin: 0 auto;
  background-color: red;
  border: 1px solid #666;
  
  
}
.session{

}
/* command + / = comment */